---
import mesh_short_logo from "../assets/images/meshtastic_short_logo.svg?raw"

// Define the discord invite link here
const discordLink = "https://discord.gg/aRYWN5HwFU";

// Define what items you want in the top menu bar
const menuItems = [
    {title: "Accueil", icon: "far fa-house", link: "/"},
    {title: "Rejoindre", icon: "fas fa-arrow-right-to-bracket", link: "/join"},
    {title: "Matériel", icon: "fas fa-tower-cell", link: "/equipment"},
    {title: "Carte", icon: "fas fa-map", link: "/carte"},
    {title: "Discord", icon: "fab fa-discord", link: discordLink, target: "_blank"}
];
const currentRouteIndex = menuItems.findIndex(i => i.link === Astro.url.pathname);
---

<header class="flex items-center justify-center mt-4 mb-8 select-none">

    <div class="grid grid-cols-4 md:flex items-center gap-8 bg-neutral-800 py-2 px-6 rounded-lg md:rounded-full dark:text-white">

        <a href={menuItems[0].link} class="flex gap-2 items-center cursor-pointer col-span-3">
            <div class="w-10">
                <Fragment set:html={mesh_short_logo}/>
            </div>
            <span class="text-2xl">AlsaMesh</span>
        </a>

        <button class="md:hidden cursor-pointer" data-toggle-menu-btn>
            <i class="fas fa-bars"></i>
        </button>

        <ul id="menu"
            role="menu"
            data-popover="menu"
            data-popover-placement="bottom"
            class="flex max-md:flex-col items-center gap-4 max-md:col-span-4 max-md:hidden transition-all col-span-4 w-full">
            {menuItems.map((item, index) => (
                    <li role="menuitem"
                        class="cursor-pointer p-2 hover:bg-neutral-900 rounded-xl transition-all"
                        class:list={{'bg-neutral-900/50': currentRouteIndex === index}}>
                        <a href={item.link} target={item.target}>
                            <i class={item.icon}></i>
                            {item.title}
                        </a>
                    </li>
            ))}
        </ul>

    </div>

</header>

<script>
    const toggleButton = document.querySelector('[data-toggle-menu-btn]');
    const menu = document.querySelector('#menu');

    toggleButton?.addEventListener('click', () => {
        if(!menu) return;
        menu.classList.toggle('max-md:hidden');
    });
</script>